<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="Materia - Admin Template">
	<meta name="keywords" content="materia, webapp, admin, dashboard, template, ui">
	<meta name="author" content="solutionportal">
	<!-- <base href="/"> -->

	<title>FarmHelp</title>
	
	<!-- Icons -->
	<link rel="stylesheet" href="{% static 'space/fonts/ionicons/css/ionicons.min.css' %}">
	<link rel="stylesheet" href="{% static 'space/fonts/font-awesome/css/font-awesome.min.css' %}">

	<!-- Plugins -->
	<link rel="stylesheet" href="{% static 'space/styles/plugins/c3.css' %}">
	<link rel="stylesheet" href="{% static 'space/styles/plugins/waves.css' %}">
	<link rel="stylesheet" href="{% static 'space/styles/plugins/perfect-scrollbar.css' %}">

	
	<!-- Css/Less Stylesheets -->
	<link rel="stylesheet" href="{% static 'space/styles/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'space/styles/main.min.css' %}">


	 
 	<link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300' rel='stylesheet' type='text/css'>

	<!-- Match Media polyfill for IE9 -->
	<!--[if IE 9]> <script src="scripts/ie/matchMedia.js"></script>  <![endif]--> 

	
</head>
<body id="app" class="app off-canvas">
	
	<!-- header -->
	<header class="site-head" id="site-head">
		<ul class="list-unstyled left-elems">
			<!-- nav trigger/collapse -->
			<li>
				<a href="javascript:;" class="nav-trigger ion ion-drag"></a>
			</li>
			<!-- #end nav-trigger -->

			<!-- Search box -->
		
			<!-- site-logo for mobile nav -->
			<li>
				<div class="site-logo visible-xs">
					<a href="javascript:;" class="text-uppercase h3">
						<span class="text">FARMHELP</span>
					</a>
				</div>
			</li> <!-- #end site-logo -->

			<!-- #end notification drop -->

		</ul>

	</header>
	<!-- #end header -->

	<!-- main-container -->
	<div class="main-container clearfix">
		<!-- main-navigation -->
		<aside class="nav-wrap" id="site-nav" data-perfect-scrollbar>
			<div class="nav-head">
				<!-- site logo -->
				<a href="index.html" class="site-logo text-uppercase">
					<i class="ion ion-egg"></i>
					<span class="text">FARMHELP</span>
				</a>
			</div>

			<!-- Site nav (vertical) -->

			<nav class="site-nav clearfix" role="navigation">

				<!-- navigation -->
				<ul class="list-unstyled clearfix nav-list mb15">
					<li class="active">
						<a href="index.html">
							<i class="ion ion-monitor"></i>
							<span class="text">Dashboard</span>
						</a>
					</li>
					<li>
						<a href="email.inbox.html">
							<i class="ion ion-settings"></i>
							<span class="text">Configurations</span>
						</a>
					</li>
				</ul> <!-- #end navigation -->
			</nav>

			<!-- nav-foot -->
			<footer class="nav-foot">
				<p>2015 &copy; <span>FarmHelp</span></p>
			</footer>

		</aside>
		<!-- #end main-navigation -->

		<!-- content-here -->
		<div class="content-container" id="content">
			<!-- dashboard page -->
			<div class="page page-dashboard">

				<div class="page-wrap">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="panel panel-default mb20 mini-box panel-hovered">
								<div class="panel-body">
									<div class="clearfix">
										<div class="info left">
											<h4 class="mt0 text-primary text-bold">$30,200</h4>
											<h5 class="text-light mb0">All Earnings</h5>
										</div>
										<div class="right ion ion-ios-pulse icon"></div>
									</div>
								</div>
								<div class="panel-footer clearfix panel-footer-sm panel-footer-primary">
									<p class="mt0 mb0 left">Water usage</p>
									<span class="sparkline right" data-Type="bar" data-BarColor="#fff" data-Width="1.15em" data-Height="1.15em">10,8,9,3,5,8,5</span>
								</div>
							</div>
						</div>

						<div class="col-md-3 col-sm-6">
							<div class="panel panel-default mb20 mini-box panel-hovered">
								<div class="panel-body">
									<div class="clearfix">
										<div class="info left">
											<h4 class="mt0 text-success text-bold">320K+</h4>
											<h5 class="text-light mb0">Page Views</h5>
										</div>
										<div class="right ion ion-ios-people-outline icon"></div>
									</div>
								</div>
								<div class="panel-footer clearfix panel-footer-sm panel-footer-success">
									<p class="mt0 mb0 left">% change</p>
									<span class="right sparkline" data-Type="bar" data-BarColor="#fff" data-Width="1.15em" data-Height="1.15em">3,5,9,8,6,10</span>
								</div>
							</div>
						</div>

						<div class="col-md-3 col-sm-6">
							<div class="panel panel-default mb20 mini-box panel-hovered">
								<div class="panel-body">
									<div class="clearfix">
										<div class="info left">
											<h4 class="mt0 text-info text-bold">110</h4>
											<h5 class="text-light mb0">Task Completed</h5>
										</div>
										<div class="right ion ion-ios-flask-outline icon"></div>
									</div>
								</div>
								<div class="panel-footer clearfix panel-footer-sm panel-footer-info">
									<p class="mt0 mb0 left">% change</p>
									<span class="right sparkline" data-Type="bar" data-BarColor="#fff" data-Width="1.15em" data-Height="1.15em">5,9,9,8,6,6</span>
								</div>
							</div>
						</div>

						<div class="col-md-3 col-sm-6">
							<div class="panel panel-default mb20 mini-box panel-hovered">
								<div class="panel-body">
									<div class="clearfix">
										<div class="info left">
											<h4 class="mt0 text-pink text-bold">10K+</h4>
											<h5 class="text-light mb0">Downloads</h5>
										</div>
										<div class="right ion ion-ios-cloud-download-outline icon"></div>
									</div>
								</div>
								<div class="panel-footer clearfix panel-footer-sm panel-footer-pink">
									<p class="mt0 mb0 left">% change</p>
									<span class="sparkline right" data-Type="bar" data-BarColor="#fff" data-Width="1.15em" data-Height="1.15em">6,4,9,10,6,2</span>
								</div>
							</div>
						</div>
						<!-- #end mini boxes -->
					</div> <!-- #end row -->

					<!-- row -->
					<div class="row">

						<!-- Analytics -->
						<div class="col-md-7">
							<div class="panel panel-default mb20 panel-hovered analytics">
								<div class="panel-heading">Analytics</div>
								<div class="panel-body">
									<div id="c3chartAnalytics"></div>
									
									<div class="inline-charts mt30">
										<ul class="list-unstyled clearfix">
											<li class="col-md-3 col-xs-6">
												<span class="sparkline" data-FillColor="#fff" data-LineColor="#3F51B5" data-Width="3em" data-Height="3em">9,3,5,8,6,5,2,0,7,5</span>
												<p class="mt5"><strong>Downloads</strong></p>
											</li>
											<li class="col-md-3 col-xs-6">
												<span class="sparkline" data-LineColor="#FDD835" data-FillColor="#fff"  data-Width="3em" data-Height="3em">2,3,5,9,8,6,9,10,4</span>
												<p class="mt5"><strong>Uploads</strong></p>
											</li>
											<li class="col-md-3 col-xs-6">
												<span class="sparkline" data-FillColor="#fff" data-LineColor="#4CAF50" data-Width="3em"  data-Height="3em">3,5,9,8,6,10,2,8,7</span>
												<p class="mt5"><strong>Page Views</strong></p>
											</li>
											<li class="col-md-3 col-xs-6">
												<span class="sparkline" data-FillColor="#fff" data-LineColor="#E91E63" data-Width="3em" data-Height="3em">3,5,9,8,6,9,7,4,10</span>
												<p class="mt5"><strong>Unique Visits</strong></p>
											</li>
										</ul>
									</div>
								</div>
							</div>
							
						</div> <!-- #end analytics -->


						<!-- recent activities -->
						<div class="col-md-5">
							<div class="panel panel-default mb20 activities">
								<div class="panel-heading">Activities</div>
								<div class="panel-body">
									<ul class="list-unstyled">
										<li class="primary">
											<span class="point"></span>
											<span class="time small text-muted">2 mins ago</span>
											<p>Jonathan attend a meeting.</p>
										</li>
										<li class="success">
											<span class="point"></span>
											<span class="time small text-muted">1 hour ago</span>
											<p>Designed the wordpress theme</p>
										</li>
										<li class="warning">
											<span class="point"></span>
											<span class="time small text-muted">4:30 p.m</span>
											<p>Lily created her account.</p>
										</li>
										<li class="info">
											<span class="point"></span>
											<span class="time small text-muted">2 days ago</span>
											<p>Your domain will expired in 13 days.</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- #end recent activities -->
						

						<div class="col-md-5">
							<div class="panel panel-default mb20 panel-hovered">
								<div class="panel-heading">Usage Stats</div>
								<div class="panel-body">
									<ul class="list-unstyled">
										<li class="col-md-4 col-sm-4">
											<div data-percent="80" class="easypiechart storageOpts">
												<div class="data">
													<strong class="xsmall">80%</strong>
													<p class="xsmall">water usage</p>
												</div>
											</div>
										</li>
										<li class="col-md-4 col-sm-4">
											<div data-percent="10" class="easypiechart serverOpts">
												<div class="data">
													<strong class="xsmall">10%</strong>
													<p class="xsmall">remaining water</p>
												</div>
											</div>
										</li>
										<li class="col-md-4 col-sm-4">
											<div data-percent="10" class="easypiechart clientOpts">
												<div class="data">
													<strong class="xsmall">10%</strong>
													<p class="xsmall">Recycled water</p>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div> <!-- #end row -->
						
					

				</div> <!-- #end page-wrap -->
			</div>
			<!-- #end dashboard page -->
		</div>

	</div> <!-- #end main-container -->

	<!-- theme settings -->
	<div class="site-settings clearfix hidden-xs">
		<div class="settings clearfix">
			<div class="trigger ion ion-settings left"></div>
			<div class="wrapper left">
				<ul class="list-unstyled other-settings">
					<li class="clearfix mb10">
						<div class="left small">Nav Horizontal</div>
						<div class="md-switch right">
							<label>
								<input type="checkbox" id="navHorizontal"> 
								<span>&nbsp;</span> 
							</label>
						</div>
						
						
					</li>
					<li class="clearfix mb10">
						<div class="left small">Fixed Header</div>
						<div class="md-switch right">
							<label>
								<input type="checkbox"  id="fixedHeader"> 
								<span>&nbsp;</span> 
							</label>
						</div>
					</li>
					<li class="clearfix mb10">
						<div class="left small">Nav Full</div>
						<div class="md-switch right">
							<label>
								<input type="checkbox"  id="navFull"> 
								<span>&nbsp;</span> 
							</label>
						</div>
					</li>
				</ul>
				<hr/>
				<ul class="themes list-unstyled" id="themeColor">
					<li data-theme="theme-zero" class="active"></li>
					<li data-theme="theme-one"></li>
					<li data-theme="theme-two"></li>
					<li data-theme="theme-three"></li>
					<li data-theme="theme-four"></li>
					<li data-theme="theme-five"></li>
					<li data-theme="theme-six"></li>
					<li data-theme="theme-seven"></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- #end theme settings -->


	

	<!-- Dev only -->
	<!-- Vendors -->
	<script src="{% static 'space/scripts/vendors.js' %}"></script>
	<script src="{% static 'space/scripts/plugins/d3.min.js' %}"></script>
	<script src="{% static 'space/scripts/plugins/c3.min.js' %}"></script>
	<script src="{% static 'space/scripts/plugins/screenfull.js' %}"></script>
	<script src="{% static 'space/scripts/plugins/perfect-scrollbar.min.js' %}"></script>
	<script src="{% static 'space/scripts/plugins/waves.min.js' %}"></script>
	<script src="{% static 'space/scripts/plugins/jquery.sparkline.min.js' %}"></script>
	<script src="{% static 'space/scripts/plugins/jquery.easypiechart.min.js' %}"></script>
	<script src="{% static 'space/scripts/plugins/bootstrap-rating.min.js' %}"></script>
	<script src="{% static 'space/scripts/app.js' %}"></script>
	<script src="{% static 'space/scripts/index.init.js' %}"></script>

</body>
</html>