{% extends "app.layout.html" %} {% block main_content %} {% load staticfiles %}
<!-- content-here -->
<div class="content-container animated rotateInDownLeft" id="content">
	<!-- material page -->
	<div class="page page-email">
		<div class="page-wrap">
			<button type="button" class="btn btn-pink ion ion-plus compose-btn" data-toggle="modal" data-target="#composeMailModal"></button>
			<div class="row" id="parent_case">
				<div class="col-md-3">
					<nav class="email-nav clearfix">
						<!-- compose mail btn -->
						<form class="form-horizontal" action="javascript:;">
							<div class="input-group mb30">
								<input class="form-control" type="text" placeholder="search case">
								<div class="input-group-btn">
									<button type="submit" class="btn btn-default ion ion-search"></button>
								</div>
							</div>
						</form>
						<div class="xsmall nav-text-lead text-uppercase text-muted mb10">Navigation</div>
						<ul class="list-unstyled navigation mb15" id="case_nav">
							<li class="active" id="all_cases">
								<a href="javascript:;" class="hvr-grow">
									<span class="ion ion-filing"></span>all {% if mycases %} ({{ mycases|length }}) {% endif %}
								</a>
							</li>
							<li id="new_case">
								<a href="javascript:;" class="hvr-grow">
									<span class="ion ion-filing"></span>new {% if new_cases %} ({{ new_cases|length }}) {% endif %}
								</a>
							</li>
							<li id="case_messages">
								<a href="javascript:;" class="hvr-grow">
									<span class="ion ion-chatboxes"></span>messages</a>
							</li>
							<li id="pending_case">
								<a href="javascript:;" class="hvr-grow">
									<span class="ion ion-document"></span>pending {% if pending %} ({{ pending|length }}) {% endif %}
								</a>
							</li>
							<li id="inprogress_case">
								<a href="javascript:;" class="hvr-grow">
									<span class="ion ion-paper-airplane"></span>in Progress</a>
							</li>
							<li id="closed_case">
								<a href="javascript:;" class="hvr-grow">
									<span class="ion ion-magnet"></span>closed {% if closed_cases %} ({{ closed_cases|length }}) {% endif %}
								</a>
							</li>
							<li id="rejected_case">
								<a href="javascript:;" class="hvr-grow">
									<span class="ion ion-trash-a"></span>rejected</a>
							</li>
						</ul>

						<div class="xsmall nav-text-lead text-uppercase text-muted mb10">Tags</div>
						<ul class="list-unstyled labels mb15">
							<li>
								<a href="javascript:;" class="hvr-grow">
									<span class="ion ion-record" style="color: #5974d9"></span>Work
								</a>
							</li>
							<li>
								<a href="javascript:;" class="hvr-grow">
									<span class="ion ion-record" style="color: #19c395"></span>Reciept
								</a>
							</li>
							<li>
								<a href="javascript:;" class="hvr-grow">
									<span class="ion ion-record" style="color: #fc3644"></span>My Data
								</a>
							</li>
						</ul>

						<div class="input-group input-group-sm mt15">
							<input type="text" class="form-control" placeholder="Add Label" ng-model="newlabel">
							<div class="input-group-btn">
								<button type="button" class="btn btn-default fa fa-plus" ng-click="addLabel()"></button>
							</div>
						</div>

					</nav>
				</div>

				<div class="col-md-9">
					<div class="email-content animated rotateInDownRight" id='all_case_view'>
						{% include "case.summary.html" %}
						<!-- email view (in real app, it must be loaded via xhr/json-->
						{% include "case.body.html" %}
					</div>
					<div class="email-content animated rotateInDownRight" id='new_case_view'>
						{% include "case.summary.html" %}
						<!-- email view (in real app, it must be loaded via xhr/json-->
						{% include "case.body.html" %}
					</div>
					<div class="email-content animated rotateInDownRight" id='messaging_view'>
						{% include "msg.summary.html" %}
						<!-- email view (in real app, it must be loaded via xhr/json-->
						{% include "case.body.html" %}
					</div>
					<div class="email-content animated rotateInDownRight" id='pending_case_view'>
						{% include "case.summary.html" %}
						<!-- email view (in real app, it must be loaded via xhr/json-->
						{% include "case.body.html" %}
					</div>
					<div class="email-content animated rotateInDownRight" id='inprogress_case_view'>
						{% include "case.summary.html" %}
						<!-- email view (in real app, it must be loaded via xhr/json-->
						{% include "case.body.html" %}
					</div>
					<div class="email-content animated rotateInDownRight" id='closed_case_view'>
						{% include "case.summary.html" %}
						<!-- email view (in real app, it must be loaded via xhr/json-->
						{% include "case.body.html" %}
					</div>
					<div class="email-content animated rotateInDownRight" id='rejected_case_view'>
						{% include "case.summary.html" %}
						<!-- email view (in real app, it must be loaded via xhr/json-->
						{% include "case.body.html" %}
					</div>
				</div>
				<!-- #end row -->
			</div>
			<!-- #end page-wrap -->
		</div>
	</div>
	<!-- #end content-container -->

</div>
<!-- #end main-container -->
{% endblock main_content %} {% block extra_js %}
<script src="{% static 'scripts/caseman.js' %}"></script> {% endblock extra_js %}