<!-- email summary lists -->
<ul class="email-lists list-unstyled clearfix mb30 inprogress_summary_list" id="case_list">
    <li class="active">
        <a href="javascript:;">
            <div class="group clearfix small">
                <span class="sender-name left text-bold">kempton park</span>
                <span class="email-date right xsmall mt1 text-pink">2 hours ago</span>
            </div>
            <p class="subject">big sinkhole in mid road</p>
            <p class="summary small text-muted">TEXT HERE</p>

            <div class="group clearfix">
                <span class="ion ion-trash-a left remove-email"></span>
                <span class="ion right ion-paperclip"></span>
            </div>
        </a>
    </li>
</ul>