<!-- email summary lists -->
<ul class="email-lists list-unstyled clearfix mb30 inprogress_summary_list">
    <li class="active">
        <a href="javascript:;">
            <div class="group clearfix small">
                <span class="sender-name left text-bold">kempton park</span>
                <span class="email-date right xsmall mt1 text-pink">2 hours ago</span>
            </div>
            <p class="subject">big sinkhole in mid road</p>
            <p class="summary small text-muted">Nor again is there anyone who loves or pursues or desires to obtain pain of itself...</p>

            <div class="group clearfix">
                <span class="ion ion-trash-a left remove-email"></span>
                <span class="ion right ion-paperclip"></span>
            </div>
        </a>
    </li>
    <li class="read">
        <a href="javascript:;">
            <div class="group clearfix small">
                <span class="sender-name left text-bold">kempton park</span>
                <span class="email-date right xsmall mt1 text-pink">12th Feb</span>
            </div>
            <p class="subject">Meetup at C.P, New Delhi</p>
            <p class="summary small text-muted">Lorem ipsum dolar sit amet...</p>

            <div class="group clearfix">
                <span class="ion ion-trash-a left remove-email"></span>
                <span class="ion right"></span>
            </div>
        </a>
    </li>
    <li class="read">
        <a href="javascript:;">
            <div class="group clearfix small">
                <span class="sender-name left text-bold">android.io</span>
                <span class="email-date right xsmall mt1 text-pink">11th Jan</span>
            </div>
            <p class="subject">Calling all android developers to join me</p>
            <p class="summary small text-muted">Pellentesque habitant morbi tristique senectus et netus...</p>

            <div class="group clearfix">
                <span class="ion ion-trash-a left remove-email"></span>
                <span class="ion right ion-paperclip"></span>
            </div>
        </a>
    </li>
    <li>
        <a href="javascript:;">
            <div class="group clearfix small">
                <span class="sender-name left text-bold">android.io</span>
                <span class="email-date right xsmall mt1 text-pink">22nd Dec</span>
            </div>
            <p class="subject">Meetup at C.P, New Delhi</p>
            <p class="summary small text-muted">Lorem ipsum dolar sit amet...</p>

            <div class="group clearfix">
                <span class="ion ion-trash-a left remove-email"></span>
                <span class="ion right"></span>
            </div>
        </a>
    </li>
    <li>
        <a href="javascript:;">
            <div class="group clearfix small">
                <span class="sender-name left text-bold">trigger.io</span>
                <span class="email-date right xsmall mt1 text-pink">12th Dec</span>
            </div>
            <p class="subject">RE: Question about account information V334RE99e: s3ss</p>
            <p class="summary small text-muted">Hi, Thanks for the reply, I want to know something...</p>

            <div class="group clearfix">
                <span class="ion ion-trash-a left remove-email"></span>
                <span class="ion right ion-paperclip"></span>
            </div>
        </a>
    </li>
</ul>
<!-- #end email summary lists -->