{% extends "app.layout.html" %} {% block main_content %}
<!-- content-here -->
{% load staticfiles %}
<div class="content-container animated rotateInDownLeft" id="content">
	<div class="page page-ui-tabs">
		<div class="page-wrap">
			<!-- row -->
			<div class="row">
				<!-- tabs-right -->
				<div class="col-md-12 mb30">
					<!-- tab style -->
					<div class="clearfix tabs-right tabs-fill">
						<div class="tab-content">
							<div class="row clearfix">

								<!-- Data Table -->
								<div class="col-md-12">
									<div class="panel panel-lined table-responsive panel-hovered mb20 data-table" style="padding-bottom: 20px">
										<div class="panel-body">
											<div class="small text-bold left mt5">
												Show&nbsp;
												<select class="lengthSelect">
													<option value="5">5</option>
													<option value="10" selected>10</option>
													<option value="20">20</option>
													<option value="50">50</option>
												</select>
												&nbsp;entries
											</div>

											<form class="form-horizontal right col-lg-4" action="javascript:;">
												<input type="text" class="form-control input-sm searchInput has-success" placeholder="Enter keyword">
											</form>
										</div>
										<!-- data table -->
										<div class="col-md-7 col-sm-12">
											<table class="table table-hover table-striped">
												<thead>
													<tr>
														<th>
															Job Title
															<div class="th">
																<i class="fa fa-caret-up icon-up"></i>
																<i class="fa fa-caret-down icon-down"></i>
															</div>
														</th>
														<th>
															Applicant
															<div class="th">
																<i class="fa fa-caret-up icon-up"></i>
																<i class="fa fa-caret-down icon-down"></i>
															</div>
														</th>
														<th>
															Closing Date
															<div class="th">
																<i class="fa fa-caret-up icon-up"></i>
																<i class="fa fa-caret-down icon-down"></i>
															</div>
														</th>
													</tr>
												</thead>
												<tbody>
													<!-- data initialize via script, can also be load via ajax -->
												</tbody>
											</table>
										</div>
										<!-- #end data table -->


										<div class="col-md-5 col-sm-12">
											<div class="list-group">
												<a href="javascript:;" class="list-group-item list-group-item-success">
													<h4 class="list-group-item-heading">Department, Municipality</h4>
													<p class="list-group-item-text">
														Electrical Engineer, Job Ref#2017001EE
														<br />
														<br />
														<br />
														<br />
														<br />
														<br />
														<br />
														<br />
														<br />
														<br />
														<br />
														<br />
														<br />
														<br />
														<br />
														<br />
														<br />
														<br /> Job Description

													</p>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- tab style -->
						</div>
						<!-- #end tabs-right -->
					</div>
					<!-- #end row -->

				</div>
				<!-- #end page-wrap -->
			</div>
			<!-- #end page -->
		</div>
		<!-- #end content-container -->
		{% endblock main_content %} {% block extra_js %}
		<script src="{% static 'scripts/vacancies.js' %}"></script> {% endblock %}